<suite name="Testing" verbose="10">
  <!-- parameter name="selenium.host" value="localhost" />
  <parameter name="selenium.port" value="3737" />
  <parameter name="selenium.browser" value="*firefox" />
  <parameter name="selenium.url" value="http://demo.opensourcecms.com/wordpress/" / -->>
 
  <test name="Thames regression tests" preserve-order="true">
    
  <package>
  
  <package name="com.sample.testingautomation.testing"/>
   <classes>
       <class name="testing.ThamesLoginTests" />
       <class name="testing.ThamesWaterHomeTests" />
       <class name="testing.ThamesRegisterTests"/>   
   </classes>
  
  </package>
  </test>
</suite>

